
@{
    Layout = "_MyDefaultLayout";
}

    <h1>TOP SECRET!!!!</h1>
    <p>one time i puked in my friend's bathroom trashcan and his mom went to collect the trash and got my puke on her hand. She asked who it was and i said nothing. But like why did she get the puke on her hand?!</p>
